.del-btn {
  background-color: red;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: darkmagenta;
  }
}
.edit-btn {
  background-color: blue;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: darkblue;
  }
}
